/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  display:  flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
ul {
  list-style: none;
}